.hero{ 
/* width: 100%;
height: 90vh;
background-color: aquamarine;
color: azure;
background-image: url("imgae location");
background-position: center;
background-repeat: no-repeat;
background-size: cover; */ */
/* position: absolute;    
} */

/* background: ,
url("location of img"),
no-repeat
center
;
} */

