img{
    padding: 10px;
    height: 250px;
    width: 250px;
}

img:hover{
    cursor: pointer;
    /* zoom in / zoom out */
    transform: scale(1.1);
    /* rotate */
    /* transform: rotate(180deg);
    transform: rotate(360deg);
    transform: translate(10px,3px); */
    /*         h-offset  v-offset  blur  spread  color*/
    box-shadow: 2px      4px       10px  2px    black;
    transition: 1.5s;
}